:root{
    --gradColor: linear-gradient(90deg, rgba(27,0,5,1) 0%, rgba(121,9,9,1) 40%, rgba(0,19,85,1) 100%);
    --buttonColor: rgba(179, 26, 26, 0.562);
    --buttonHover:  rgba(121,9,9,1);
    --cardColor: #FBF8F5;
    --cardColorHover: #cfcfcf;
    --sectionColor: rgba(131, 120, 120, 0.589);
}


@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Light.ttf);
    font-weight: light;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    position: relative;
}

.image-fluid{
    width: 100%;
    height: auto;
}

.txt-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    padding: 0.5rem 1rem; 
    background-color: var(--buttonColor);
}

.btn:hover{
    cursor: pointer;
    background-color: var(--buttonHover);
}

.rounded-pill{
    border-radius: 20px;
}

.container{
    width: 90vw;
    margin: auto;
}

header{
    margin-bottom: 1rem;
    padding: 1rem;
    background-image: var(--gradColor);
}

footer{
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    /* position: absolute;
    bottom: 0; */
    background-image: var(--gradColor);
}

/* NavBar ==> START */
nav{
    position: relative;
    padding: 1rem 0;
}

.search-bar{
    width: 40vw;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    position: absolute;
    bottom: 15rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#searchInpt{
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
}

#searchInpt:focus{
    outline: none;
}

.search-btn{
    background-color: var(--buttonColor);
    padding: 0.5rem;
    border-left: 2px solid grey;
}

.search-btn:hover{
    cursor: pointer;
    background-color: var(--buttonHover)
}



/*promotion banner*/
#banner-holder{
    width: 90vw;
    margin: auto;
}

.banner-slider{
    height: 35rem;
    overflow: hidden;
}

#promotion-banner{
    opacity: 0.6;
}

#dot-holder{
    display: flex;
    width: fit-content;
    margin: 0.5rem auto;
    justify-content:space-around;
}
.slide-dot{
    width: 1rem;
    height: 1rem;
    background-color: #b1b1b1e7;
    border-radius: 50%;
    margin: 0.25em;
    transition: background-color 0.6s ease;
}


.active {
    background-color: #717171;
  }



/* NavBar ==> END */


/* Main ==>START */
main{
    padding: 4rem 0;
}

#booksCardsHolder{
    max-width: 90vw;
    padding: 1rem 0;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: grey; */
}

.book-Item-Card{
    width: 21rem;
    height: 32rem;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--cardColor);
    box-shadow: 5px 8px 20px 8px #888888;
}

.book-Item-Card:hover{
    background-color: var(--cardColorHover);
}

.book-image-holder{
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
}

.book-info{
    margin: 1rem 0;
}

/* .book-info .book-name{
    margin-bottom: 2rem;
} */

.book-info .book-details{
    margin: 1rem 0 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.book-info .book-author{
    margin-top: 1rem;
}


.moreDetails-btn{
    width: 30%;
    text-align: center;
    align-self: center; 
}

.moreDetails-btn:hover{
    cursor: pointer;

}

.moreDetails-btn {
    color: black;
}


.seeMore-btn{
    width: 10rem;
    margin: auto;
}

/* .seeMore-btn:hover{
    cursor: pointer;
} */

/* Main ==>END */




/* Book Details Page ==>START */
#bookDetailsSec{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}
#bookDetailsSec .main-info{
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

#bookDetailsSec .bookImage{
    width: 40%;
    margin-right: 2rem;
    padding: 1rem 0;
}


#bookDetailsSec .info .book-description{
    margin-top: 2rem;
    line-height: 1.8;
}

#bookDetailsSec .book-authors{
    padding: 2rem 0;
    background-color: var(--sectionColor);
}

#bookDetailsSec .book-authors .authors-list{
    list-style: none;
    display: flex;
}

#bookDetailsSec .authors-list li{
    margin-right: 3rem;
}

#bookDetailsSec .extra-info{
    margin-top: 1rem;
}

/* #bookDetailsSec .extra-info h3{
    margin-top: 2rem;
} */

#bookDetailsSec .extra-info div{
    padding: 2rem 0;
}

#bookDetailsSec .extra-info .published-date{
    background-color: var(--sectionColor);
}


.return-btn{
    width: 20rem;
    margin: auto;
    
}
/* Book Details Page ==>END */









